// =======================================
//   List of variables for Preset color
//   Vert (teal) institutionnel
// =======================================

$preset-colors: (
  preset-1: (
    body: #ffffff,
    primary: #0bcc9c,
    primary-dark: #0aa886,
    secondary: #089373,
    secondary-dark: #077f63
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
