// =======================================
//   List of variables for Preset color
//   SEEDS : vert (teal) institutionnel
// =======================================

$preset-colors: (
  preset-1: (
    body: #ffffff,
    primary: #0bcc9c,
    primary-dark: #0f766e,
    secondary: #115e59,
    secondary-dark: #134e4a
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
